body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101820;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.video-start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.video-start video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1A2238;
    padding: 15px 50px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-text {
    text-align: center;
    padding: 10rem 2rem;;
    position: relative;
    color: #E5E5E5;
    z-index: 1;
}
.main-text h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #26408B;
}
.main-text p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.product-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
    text-align: left;
}
.product-details img {
    max-width: 400px;
    border-radius: 10px;
}
.details {
    max-width: 500px;
}
.details h1 {
    font-size: 2.5rem;
    color: #E5E5E5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #B22222;
}
.details ul {
    list-style: none;
    padding: 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.details ul li {
    font-size: 1.2rem;
    padding: 8px;
    background: #4B4E50;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #E76E24;
    margin: 10px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}
.guitar-list {
    text-align: center;
}
.guitar-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.guitar {
    text-align: center;
    width: 300px;
}

.guitar img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.featured {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #CABBA3;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.about {
    text-align: center;
    padding: 4rem 2rem;
    max-width: 800px;
    margin: auto;
    color: white;
}
.band-image {
    flex: 1;
    max-width: 45%;
    text-align: center;
}

.band-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.band-members {
    list-style: none;
    padding: 0;
}

.band-members li {
    font-size: 1.2rem;
    margin: 10px 0;
}
.about h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #26408B;
}
.about h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #26408B;
}

.reviews {
    text-align: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    border-radius: 10px;
}

.reviews h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.review {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
}
footer {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    background: #5E3A1C;
    color: white;
    text-align: center;
}
