body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101820;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}
body h1 {
    font-size: 2.5rem;
    color: #E76E24;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

body h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

a {
    transition: 0.3s ease-in-out transform 0.2s;
}

a:hover {
    color: #D22730;
}

.video-start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-start video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container, .reviews {
    animation: slideInRight 1s ease-in-out;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1A2238;
    padding: 15px 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 200px;
    top: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #E76E24;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.cart-img img{
    width: 2rem;
}

.cart-img img:hover{
    transform: scale(1.1);
}

.cart img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    width: 100px; border-radius: 5px;
}
.cart img:hover{
    transform: scale(1.1);
}

.cart {
    text-align: center;
    padding: 50px;
}

.cart-item {
    background: #222;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.cart-item-details {
    text-align: left;
}

.cart-item-details a {
    text-decoration: none;
    color: inherit;
} 
.cart-item h2 {
    font-size: 1.5rem;
}


.remove-btn {
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-btn:hover {
    background: #B20000;
}

.checkout-btn {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.checkout-btn a {
        text-decoration: none;
    color: inherit;
}
.checkout-btn:hover {
    background: #B9982C;
}

.checkout-form {
    max-width: 600px;
    margin: 30px auto;
    background: #222;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}

.checkout-form h2 {
    margin-bottom: 15px;
    color: #D4AF37;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.checkout-form input[type="radio"] {
    margin-right: 10px;
}

.checkout-form button {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.main-text {
    text-align: center;
    padding: 10rem 2rem;;
    position: relative;
    color: #E5E5E5;
    z-index: 1;
}

.main-text h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

.main-text p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.main-text, .product-details, .bio {
    animation: slideInLeft 1s ease-in-out;
}

.guitar-list {
    text-align: center;
    margin-top: 30px;
}

.guitar-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.guitar {
    text-align: center;
    width: 300px;
}

.guitar img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.guitar img:hover{
    transform: scale(1.1);
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 30px;
    text-align: left;
}

.product-details img {
    max-width: 400px;
    border-radius: 10px;
}

.details {
    flex: 1;
    max-width: 50%;
}

.details h1 {
    font-size: 2.5rem;
    color: #E5E5E5;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #B22222;
}

.price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #E76E24;
    margin: 10px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

.reviews {
    text-align: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    border-radius: 10px;
}

.reviews h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.review {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #CABBA3;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.featured {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

.about {
    text-align: left;
    padding: 4rem 2rem;
    max-width: 800px;
    margin: auto;
    color: white;
}

.band-image {
    flex: 1;
    max-width: 45%;
    text-align: left;
}

.band-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.band-members {
    list-style: none;
    padding: 0;
}

.band-members li {
    font-size: 1.2rem;
    margin: 10px 0;
}
.about h1, .bio-text h1 {
    font-size: 2.5rem;;
}

.about h2 {
    color: #D4AF37;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #26408B;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #111;
    color: white;
}
.bio-images {
    display: flex;
    gap: 15px;
    max-width: 900px;
}

.bio-images img {
    width: 33%;
    max-width: 250px;
    border-radius: 10px;
    object-fit: cover;
}
.bio-container {
    display: flex;
    gap: 30px;
    max-width: 900px;
    flex-wrap: wrap;
    align-items: center;
}

.bio-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.bio-text {
    flex: 1;
    text-align: left;
}

.bio-text h2 {
    color: #D4AF37;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #26408B;
}

.featured-videos {
    text-align: center;
    padding: 50px;
    background: #111;
}

.featured-videos h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.checkout {
    text-align: center;
    padding: 2rem;
}

.signup {
    text-align: center;
    padding: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

.signup form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-gallery {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-gallery input {
    display: none;
}

.main-image img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnails label {
    cursor: pointer;
}

.thumbnails img:hover {
    transform: scale(1.1);
}

.thumbnails img {
    width: 60px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.video-container {
    text-align: center;
    padding: 20px;
}

.video-container h2 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

.video-container iframe {
    width: 560px;
    height: 315px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.gates {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.gates img {
    width: 150px;
    height: auto;
    filter: brightness(0) invert(1);
}

#img1:checked ~ .main-image img {
    content: url("synyster-custom-s.avif");
}

#img2:checked ~ .main-image img {
    content: url("synyster-custom-s2.avif");
}

#img3:checked ~ .main-image img {
    content: url("synyster-custom-s3.avif");
}

#img4:checked ~ .main-image img {
    content: url("synyster-custom-s4.avif");
}

#img5:checked ~ .main-image img {
    content: url("synyster-custom.avif");
}

#img6:checked ~ .main-image img {
    content: url("synyster-custom2.avif");
}

#img7:checked ~ .main-image img {
    content: url("synyster-custom3.avif");
}

#img8:checked ~ .main-image img {
    content: url("synyster-custom4.avif");
}

#img9:checked ~ .main-image img {
    content: url("synyster-custom-headless.avif");
}

#img10:checked ~ .main-image img {
    content: url("synyster-custom-headless2.avif");
}

#img11:checked ~ .main-image img {
    content: url("synyster-custom-headless3.avif");
}

#img12:checked ~ .main-image img {
    content: url("synyster-custom-headless4.avif");
}

#img13:checked ~ .main-image img {
    content: url("synyster-acoustic.avif");
}

#img14:checked ~ .main-image img {
    content: url("synyster-acoustic2.avif");
}

#img15:checked ~ .main-image img {
    content: url("synyster-acoustic3.avif");
}

#img16:checked ~ .main-image img {
    content: url("synyster-acoustic4.avif");
}

#img17:checked ~ .main-image img {
    content: url("synyster-fr.avif");
}

#img18:checked ~ .main-image img {
    content: url("synyster-fr2.avif");
}

#img19:checked ~ .main-image img {
    content: url("synyster-fr3.avif");
}

#img20:checked ~ .main-image img {
    content: url("synyster-fr4.avif");
}

#img21:checked ~ .main-image img {
    content: url("synyster-standard.avif");
}

#img22:checked ~ .main-image img {
    content: url("synyster-standard2.avif");
}

#img23:checked ~ .main-image img {
    content: url("synyster-standard3.avif");
}

#img24:checked ~ .main-image img {
    content: url("synyster-standard4.avif");
}
#img28:checked ~ .main-image img {
    content: url("set1.avif");
}
#img29:checked ~ .main-image img {
    content: url("set2.avif");
}
#img30:checked ~ .main-image img {
    content: url("set3.avif");
}
#img31:checked ~ .main-image img {
    content: url("set4.avif");
}
#img32:checked ~ .main-image img {
    content: url("strings1.avif");
}
#img33:checked ~ .main-image img {
    content: url("strings12.avif");
}
#img34:checked ~ .main-image img {
    content: url("strings13.avif");
}
#img35:checked ~ .main-image img {
    content: url("strings2.avif");
}

.contact {
    text-align: center;
    padding: 50px;
    max-width: 600px;
    margin: 0 auto;
}

.contact h1 {
    font-size: 2rem;
    margin-bottom: 20px;
        color: #E76E24;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    height: 100px;
    resize: vertical;
}

.note {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
}

.support {
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
}

.support h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
        color: #E76E24;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

.support-hours {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.support-hours p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.faq {
    text-align: left;
    margin-bottom: 30px;
}


.faq h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #E76E24;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    -2px -2px 5px #D22730;
}

.faq p {
    padding-top: 5px;
}

.contact-form {
    text-align: left;
    background: #222;
    padding: 20px;
    border-radius: 10px;
}

.contact-form h2 {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    background: #5E3A1C;
    color: white;
    text-align: center;
    position: relative;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-media-icons a img {
    width: 30px;
    height: 30px;
    filter: invert(100%);
    transition: transform 0.3s ease-in-out, filter 0.3s;
}

.social-media-icons a:hover img {
    transform: scale(1.2);
    filter: invert(70%);
}


